# Fall 2025 DS UCSB Instagram Analysis Dashboard

This notebook cleans and visualizes Instagram engagement data for DS UCSB from the months of August to December 2025. Data was obtained from Meta Business Suite.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from src.cleaning import strip_col_names, drop_cols, rename_cols, modify_cats, sort_published, sep_time, sort_inter

BASE_DIR = Path.cwd()
csv_path = BASE_DIR / "data" / "f25_instagram_data.csv"

df = pd.read_csv(csv_path)
df.head()

,Account username,Account name,Name,Category,Duration (sec),Publish time,Post type,Data comment,Date,Views,Reach,Likes,Shares,Follows,Comments,Saves
0,datascienceucsb,Data Science UCSB,Week 1,Weekly,0,9/29/25 10:00,IG image,NaN,Lifetime,8486,1145,47,10,0,0,8
1,datascienceucsb,Data Science UCSB,Fall Kickoff Reel,Event,23,9/29/25 12:06,IG reel,NaN,Lifetime,3539,1418,62,8,0,11,1
2,datascienceucsb,Data Science UCSB,Popsicle Social,Social,0,10/2/25 10:00,IG image,NaN,Lifetime,8512,1357,31,9,0,0,5
3,datascienceucsb,Data Science UCSB,Career Fair General,Event,0,10/3/25 11:05,IG carousel,NaN,Lifetime,20487,3197,100,49,11,0,34
4,datascienceucsb,Data Science UCSB,Membership Reel,Announcement,16,10/4/25 15:10,IG reel,NaN,Lifetime,38924,23698,512,800,17,20,60

In [2]:
df = pd.read_csv(csv_path)
df.head()

,Account username,Account name,Name,Category,Duration (sec),Publish time,Post type,Data comment,Date,Views,Reach,Likes,Shares,Follows,Comments,Saves
0,datascienceucsb,Data Science UCSB,Week 1,Weekly,0,9/29/25 10:00,IG image,NaN,Lifetime,8486,1145,47,10,0,0,8
1,datascienceucsb,Data Science UCSB,Fall Kickoff Reel,Event,23,9/29/25 12:06,IG reel,NaN,Lifetime,3539,1418,62,8,0,11,1
2,datascienceucsb,Data Science UCSB,Popsicle Social,Social,0,10/2/25 10:00,IG image,NaN,Lifetime,8512,1357,31,9,0,0,5
3,datascienceucsb,Data Science UCSB,Career Fair General,Event,0,10/3/25 11:05,IG carousel,NaN,Lifetime,20487,3197,100,49,11,0,34
4,datascienceucsb,Data Science UCSB,Membership Reel,Announcement,16,10/4/25 15:10,IG reel,NaN,Lifetime,38924,23698,512,800,17,20,60

In [3]:
# Strip column names
df = strip_col_names(df)
df.head()

,Account username,Account name,Name,Category,Duration (sec),Publish time,Post type,Data comment,Date,Views,Reach,Likes,Shares,Follows,Comments,Saves
0,datascienceucsb,Data Science UCSB,Week 1,Weekly,0,9/29/25 10:00,IG image,NaN,Lifetime,8486,1145,47,10,0,0,8
1,datascienceucsb,Data Science UCSB,Fall Kickoff Reel,Event,23,9/29/25 12:06,IG reel,NaN,Lifetime,3539,1418,62,8,0,11,1
2,datascienceucsb,Data Science UCSB,Popsicle Social,Social,0,10/2/25 10:00,IG image,NaN,Lifetime,8512,1357,31,9,0,0,5
3,datascienceucsb,Data Science UCSB,Career Fair General,Event,0,10/3/25 11:05,IG carousel,NaN,Lifetime,20487,3197,100,49,11,0,34
4,datascienceucsb,Data Science UCSB,Membership Reel,Announcement,16,10/4/25 15:10,IG reel,NaN,Lifetime,38924,23698,512,800,17,20,60

In [4]:
# Drop irrelevant columns
df = drop_cols(df)
df.head()

,Name,Category,Duration (sec),Publish time,Post type,Views,Reach,Likes,Shares,Follows,Comments,Saves
0,Week 1,Weekly,0,9/29/25 10:00,IG image,8486,1145,47,10,0,0,8
1,Fall Kickoff Reel,Event,23,9/29/25 12:06,IG reel,3539,1418,62,8,0,11,1
2,Popsicle Social,Social,0,10/2/25 10:00,IG image,8512,1357,31,9,0,0,5
3,Career Fair General,Event,0,10/3/25 11:05,IG carousel,20487,3197,100,49,11,0,34
4,Membership Reel,Announcement,16,10/4/25 15:10,IG reel,38924,23698,512,800,17,20,60

In [5]:
# Rename columns
df = rename_cols(df)
df.head()

,Post,Category,Duration (sec),Published,Format,Views,Reach,Likes,Shares,Follows,Comments,Saves
0,Week 1,Weekly,0,9/29/25 10:00,IG image,8486,1145,47,10,0,0,8
1,Fall Kickoff Reel,Event,23,9/29/25 12:06,IG reel,3539,1418,62,8,0,11,1
2,Popsicle Social,Social,0,10/2/25 10:00,IG image,8512,1357,31,9,0,0,5
3,Career Fair General,Event,0,10/3/25 11:05,IG carousel,20487,3197,100,49,11,0,34
4,Membership Reel,Announcement,16,10/4/25 15:10,IG reel,38924,23698,512,800,17,20,60

In [6]:
# Change certain data types and modify category names
df = modify_cats(df)
df.head()

,Post,Category,Duration (sec),Published,Format,Views,Reach,Likes,Shares,Follows,Comments,Saves
0,Week 1,Weekly,0,9/29/25 10:00,Image,8486,1145,47,10,0,0,8
1,Fall Kickoff Reel,Event,23,9/29/25 12:06,Reel,3539,1418,62,8,0,11,1
2,Popsicle Social,Social,0,10/2/25 10:00,Image,8512,1357,31,9,0,0,5
3,Career Fair General,Event,0,10/3/25 11:05,Carousel,20487,3197,100,49,11,0,34
4,Membership Reel,Announcement,16,10/4/25 15:10,Reel,38924,23698,512,800,17,20,60

In [7]:
# Sort by Published date and time
df = sort_published(df)
df.head()

,Post,Category,Duration (sec),Published,Format,Views,Reach,Likes,Shares,Follows,Comments,Saves
0,Fall Kickoff,Event,0,2025-09-26 10:00:00,Image,10823,2107,55,12,0,0,5
1,Week 1,Weekly,0,2025-09-29 10:00:00,Image,8486,1145,47,10,0,0,8
2,Fall Kickoff Reel,Event,23,2025-09-29 12:06:00,Reel,3539,1418,62,8,0,11,1
3,Popsicle Social,Social,0,2025-10-02 10:00:00,Image,8512,1357,31,9,0,0,5
4,Career Fair General,Event,0,2025-10-03 11:05:00,Carousel,20487,3197,100,49,11,0,34

In [8]:
# Create two new columns: Date and Time
df = sep_time(df)
df.head()

,Post,Category,Duration (sec),Format,Views,Reach,Likes,Shares,Follows,Comments,Saves,Date,Time
0,Fall Kickoff,Event,0,Image,10823,2107,55,12,0,0,5,2025-09-26,10:00:00
1,Week 1,Weekly,0,Image,8486,1145,47,10,0,0,8,2025-09-29,10:00:00
2,Fall Kickoff Reel,Event,23,Reel,3539,1418,62,8,0,11,1,2025-09-29,12:06:00
3,Popsicle Social,Social,0,Image,8512,1357,31,9,0,0,5,2025-10-02,10:00:00
4,Career Fair General,Event,0,Carousel,20487,3197,100,49,11,0,34,2025-10-03,11:05:00

In [9]:
# Rearrange column order
first = ["Date", "Time", "Post", "Category"]
rest = df.loc[:, "Duration (sec)":"Saves"].columns
df = df[list(first) + list(rest)]
df.head()

,Date,Time,Post,Category,Duration (sec),Format,Views,Reach,Likes,Shares,Follows,Comments,Saves
0,2025-09-26,10:00:00,Fall Kickoff,Event,0,Image,10823,2107,55,12,0,0,5
1,2025-09-29,10:00:00,Week 1,Weekly,0,Image,8486,1145,47,10,0,0,8
2,2025-09-29,12:06:00,Fall Kickoff Reel,Event,23,Reel,3539,1418,62,8,0,11,1
3,2025-10-02,10:00:00,Popsicle Social,Social,0,Image,8512,1357,31,9,0,0,5
4,2025-10-03,11:05:00,Career Fair General,Event,0,Carousel,20487,3197,100,49,11,0,34

In [10]:
# Create Interaction variable
df = df.assign(Interactions = df.iloc[:,7:12].sum(axis=1))
df.head()

,Date,Time,Post,Category,Duration (sec),Format,Views,Reach,Likes,Shares,Follows,Comments,Saves,Interactions
0,2025-09-26,10:00:00,Fall Kickoff,Event,0,Image,10823,2107,55,12,0,0,5,2174
1,2025-09-29,10:00:00,Week 1,Weekly,0,Image,8486,1145,47,10,0,0,8,1202
2,2025-09-29,12:06:00,Fall Kickoff Reel,Event,23,Reel,3539,1418,62,8,0,11,1,1499
3,2025-10-02,10:00:00,Popsicle Social,Social,0,Image,8512,1357,31,9,0,0,5,1397
4,2025-10-03,11:05:00,Career Fair General,Event,0,Carousel,20487,3197,100,49,11,0,34,3357

In [11]:
# Create copy of df, sort by total Interactions
df2 = sort_inter(df)
df2.head()

,Date,Time,Post,Category,Duration (sec),Format,Views,Reach,Likes,Shares,Follows,Comments,Saves,Interactions
0,2025-10-04,15:10:00,Membership Reel,Announcement,16,Reel,38924,23698,512,800,17,20,60,25047
1,2025-10-03,11:05:00,Career Fair General,Event,0,Carousel,20487,3197,100,49,11,0,34,3357
2,2025-09-26,10:00:00,Fall Kickoff,Event,0,Image,10823,2107,55,12,0,0,5,2174
3,2025-10-20,11:37:00,Officer Introduction,Announcement,0,Carousel,12735,1930,118,6,1,7,4,2062
4,2025-12-18,13:36:00,Intern Introductions,Announcement,0,Image,4407,1711,50,2,2,2,1,1767