# Fall 2025 DS UCSB Instagram Analysis Dashboard

This notebook cleans and visualizes Instagram engagement data for DS UCSB from the months of August to December 2025. Data was obtained from Meta Business Suite.

In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

BASE_DIR = Path.cwd()
csv_path = BASE_DIR / "data" / "f25_instagram_data.csv"

df = pd.read_csv(csv_path)
df.head()

,Account username,Account name,Name,Category,Duration (sec),Publish time,Post type,Data comment,Date,Views,Reach,Likes,Shares,Follows,Comments,Saves
0,datascienceucsb,Data Science UCSB,Week 1,Weekly,0,9/29/25 10:00,IG image,NaN,Lifetime,8486,1145,47,10,0,0,8
1,datascienceucsb,Data Science UCSB,Fall Kickoff Reel,Event,23,9/29/25 12:06,IG reel,NaN,Lifetime,3539,1418,62,8,0,11,1
2,datascienceucsb,Data Science UCSB,Popsicle Social,Social,0,10/2/25 10:00,IG image,NaN,Lifetime,8512,1357,31,9,0,0,5
3,datascienceucsb,Data Science UCSB,Career Fair General,Event,0,10/3/25 11:05,IG carousel,NaN,Lifetime,20487,3197,100,49,11,0,34
4,datascienceucsb,Data Science UCSB,Membership Reel,Announcement,16,10/4/25 15:10,IG reel,NaN,Lifetime,38924,23698,512,800,17,20,60

In [42]:
# Drop irrelevant columns
df = (
    df
        .drop(columns = ["Account username", "Account name", "Data comment", 'Date'])
        .rename(columns = {
            "Name" : "Post",
            "Publish time" : "Published",
            "Post type" : "Format"
        })
)
df.head()

,Post,Category,Duration (sec),Published,Format,Views,Reach,Likes,Shares,Follows,Comments,Saves
0,Week 1,Weekly,0,9/29/25 10:00,IG image,8486,1145,47,10,0,0,8
1,Fall Kickoff Reel,Event,23,9/29/25 12:06,IG reel,3539,1418,62,8,0,11,1
2,Popsicle Social,Social,0,10/2/25 10:00,IG image,8512,1357,31,9,0,0,5
3,Career Fair General,Event,0,10/3/25 11:05,IG carousel,20487,3197,100,49,11,0,34
4,Membership Reel,Announcement,16,10/4/25 15:10,IG reel,38924,23698,512,800,17,20,60

In [43]:
# Check data types
df.dtypes

Post              object
Category          object
Duration (sec)     int64
Published         object
Format            object
Views              int64
Reach              int64
Likes              int64
Shares             int64
Follows            int64
Comments           int64
Saves              int64
dtype: object

In [44]:
# Modify
df = (
    df 
        .assign(
            **{
                "Category" : lambda d: d["Category"].astype("category"),
                "Format" : lambda d: d["Format"].astype("category")
            }
        )
        .assign(
            **{
                "Format" : lambda d: d["Format"].cat.rename_categories({
                    "IG image" : "Image",
                    "IG carousel" : "Carousel",
                    "IG reel" : "Reel"
                })
            }
        )
)

df.head()

,Post,Category,Duration (sec),Published,Format,Views,Reach,Likes,Shares,Follows,Comments,Saves
0,Week 1,Weekly,0,9/29/25 10:00,Image,8486,1145,47,10,0,0,8
1,Fall Kickoff Reel,Event,23,9/29/25 12:06,Reel,3539,1418,62,8,0,11,1
2,Popsicle Social,Social,0,10/2/25 10:00,Image,8512,1357,31,9,0,0,5
3,Career Fair General,Event,0,10/3/25 11:05,Carousel,20487,3197,100,49,11,0,34
4,Membership Reel,Announcement,16,10/4/25 15:10,Reel,38924,23698,512,800,17,20,60

In [47]:
# Sort data by Published
df = (
    df
        .assign(
            Published = lambda d: pd.to_datetime(
                d["Published"],
                format = "%m/%d/%y %H:%M"
            )
        )
        .sort_values("Published")
        .reset_index(drop = True)
)

# Confirm order
df

,Post,Category,Duration (sec),Published,Format,Views,Reach,Likes,Shares,Follows,Comments,Saves
0,Fall Kickoff,Event,0,2025-09-26 10:00:00,Image,10823,2107,55,12,0,0,5
1,Week 1,Weekly,0,2025-09-29 10:00:00,Image,8486,1145,47,10,0,0,8
2,Fall Kickoff Reel,Event,23,2025-09-29 12:06:00,Reel,3539,1418,62,8,0,11,1
3,Popsicle Social,Social,0,2025-10-02 10:00:00,Image,8512,1357,31,9,0,0,5
4,Career Fair General,Event,0,2025-10-03 11:05:00,Carousel,20487,3197,100,49,11,0,34
5,Membership Reel,Announcement,16,2025-10-04 15:10:00,Reel,38924,23698,512,800,17,20,60
6,Week 2,Weekly,0,2025-10-06 17:34:00,Image,8719,1416,31,4,0,1,7
7,Sports Day,Social,0,2025-10-09 09:00:00,Image,8429,1723,25,11,0,0,2
8,Week 3,Weekly,0,2025-10-13 10:00:00,Carousel,8066,1406,38,6,0,1,6
9,Job Search,Event,0,2025-10-15 11:52:00,Image,6563,1595,22,2,0,0,9
10,Intern Application,Announcement,0,2025-10-17 11:57:00,Image,6632,1416,22,5,0,0,7
11,Officer Introduction,Announcement,0,2025-10-20 11:37:00,Carousel,12735,1930,118,6,1,7,4
12,Week 4,Weekly,0,2025-10-20 13:36:00,Carousel,7165,1001,25,2,0,1,2
13,Career Fair Sessions,Event,0,2025-10-22 10:00:00,Image,5997,1216,31,3,0,0,4
14,Week 5,Weekly,0,2025-10-27 15:40:00,Image,3897,863,16,1,0,0,3
15,Week 6,Weekly,0,2025-11-03 12:57:00,Carousel,5098,866,20,3,0,0,4
16,Biostatistics,Event,0,2025-11-03 15:00:00,Image,3872,951,25,1,0,0,1
17,Week 7,Weekly,0,2025-11-10 12:05:00,Image,4830,1140,14,2,0,0,2
18,Researcher Networking,Event,0,2025-11-15 13:16:00,Image,6058,1643,37,11,0,0,3
19,Week 8,Weekly,0,2025-11-17 14:44:00,Image,3127,814,14,0,0,0,1
20,Week 9,Weekly,0,2025-11-24 17:22:00,Image,3537,863,7,0,0,0,0
21,Intern Introductions,Announcement,0,2025-12-18 13:36:00,Image,4407,1711,50,2,2,2,1

In [51]:
# Create two separate publish time columns
df = (
    df
        .assign(
            **{
                "Date" : lambda d: d["Published"].dt.date,
                "Time" : lambda d: d["Published"].dt.time
            }
        )
        .drop(columns = ["Published"])
        [[
            "Post",
            "Category",
            "Date",
            "Time",
            "Format",
            "Duration (sec)",
            "Views",
            "Reach",
            "Likes",
            "Shares",
            "Comments",
            "Saves",
            "Follows"
        ]]
)
df.head()

,Post,Category,Date,Time,Format,Duration (sec),Views,Reach,Likes,Shares,Comments,Saves,Follows
0,Fall Kickoff,Event,2025-09-26,10:00:00,Image,0,10823,2107,55,12,0,5,0
1,Week 1,Weekly,2025-09-29,10:00:00,Image,0,8486,1145,47,10,0,8,0
2,Fall Kickoff Reel,Event,2025-09-29,12:06:00,Reel,23,3539,1418,62,8,11,1,0
3,Popsicle Social,Social,2025-10-02,10:00:00,Image,0,8512,1357,31,9,0,5,0
4,Career Fair General,Event,2025-10-03,11:05:00,Carousel,0,20487,3197,100,49,0,34,11

In [52]:
# Create Interaction variable
df = df.assign(Interaction = df.iloc[:,7:12].sum(axis=1))
df.head()

,Post,Category,Date,Time,Format,Duration (sec),Views,Reach,Likes,Shares,Comments,Saves,Follows,Interaction
0,Fall Kickoff,Event,2025-09-26,10:00:00,Image,0,10823,2107,55,12,0,5,0,2179
1,Week 1,Weekly,2025-09-29,10:00:00,Image,0,8486,1145,47,10,0,8,0,1210
2,Fall Kickoff Reel,Event,2025-09-29,12:06:00,Reel,23,3539,1418,62,8,11,1,0,1500
3,Popsicle Social,Social,2025-10-02,10:00:00,Image,0,8512,1357,31,9,0,5,0,1402
4,Career Fair General,Event,2025-10-03,11:05:00,Carousel,0,20487,3197,100,49,0,34,11,3380